.dropzone {
	padding: 1em;
	text-align: center;
	border: 1px solid #000;
}

.target-browsers {
	list-style: none;
}

.target-browsers li {
	display: inline-block;
	margin: 0 1em;
}

.slider input {
	width: 30em;
	display: inline-block;
	vertical-align: middle;
}
